[submodule "poky"]
	path = repos/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
[submodule "repos/meta-mender"]
	path = repos/meta-mender
	url = https://github.com/mendersoftware/meta-mender.git
	branch = kirkstone
[submodule "repos/meta-mender-community"]
	path = repos/meta-mender-community
	url = https://github.com/mendersoftware/meta-mender-community.git
	branch = kirkstone-next
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = kirkstone-l4t-r32.7.x
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = kirkstone-l4t-r32.7.x
