[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = whinlatter
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = whinlatter
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = whinlatter
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = whinlatter
[submodule "repos/bitbake"]
	path = repos/bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 2.14
[submodule "repos/openembedded-core"]
	path = repos/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = whinlatter
