[submodule "poky"]
	path = repos/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = kirkstone
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = kirkstone
[submodule "repos/meta-dsensos"]
	path = repos/meta-dsensos
	url = git@github.com:DistributedSpectrum/meta-dsensos.git
