# Version of layers configuration, specific to
# each defined distro in the repository.
# Format: ${DISTRO}-<version>
TD_BBLAYERS_CONF_VERSION = "tegrademo-mender-6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-tegra \
  ##OEROOT##/meta-tegra/contrib \
  ##OEROOT##/meta-oe \
  ##OEROOT##/meta-python \
  ##OEROOT##/meta-networking \
  ##OEROOT##/meta-filesystems \
  ##OEROOT##/meta-virtualization \
  ##OEROOT##/meta-tegra-community \
  ##OEROOT##/meta-mender-core \
  ##OEROOT##/meta-mender-tegra \
  ##OEROOT##/meta-tegra-support \
  ##OEROOT##/meta-demo-ci \
  ##OEROOT##/meta-tegrademo \
  "

# XXX temporary, until Mender supports honister
LAYERSERIES_COMPAT_mender:append = " honister"
LAYERSERIES_COMPAT_meta-mender-tegra:append = " honister"
